@custom-media --bp-sm-laptop (width <= 1200px);
@custom-media --bp-tablet (width <= 850px);
@custom-media --bp-mobile (width <= 500px);
@custom-media --bp-md-mobile (width <= 380px);
@custom-media --bp-sm-mobile (width <= 320px);

body{
   height: 100vh;
   background-image: linear-gradient(to right, #54c5b9 0%, #54c5b9 50%, #212e40 50%, #212e40 100%);
}

.slideshow-page{
   background-image: linear-gradient(#6cdfca, #54c5b9);
   background-repeat: no-repeat;
   position: relative;

   & .mySlides{
      
      & .activeSlide{
         position: absolute;
         left: 50%;
         bottom: 0;
         transform: translate(-50%, 0);
      }
   }

   & .logoBox{
      padding: 2rem;
      & >div:nth-of-type(1){
         width: 2rem;
      }
   }
   
   & .headingBox{
      padding: 5rem 5rem 0;
   }

   & .imageBox{
      padding: 7rem 2rem 2rem;
      display: flex;
      justify-content: center;
      & >div:nth-of-type(1){
         width: 17rem;
         justify-self: center;
      }
   }
   
   & .activeSlide{
      margin-top: 2rem;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.75rem;

      & .highlight{
         display: inline-block;
         background-color: #96ddd0;
         border-radius: 100%;
      }

      & .active{
         width: 12px;
         height: 12px;
         box-shadow: 0 0 15px #000;
      }
      
      & .inactive{
         width: 8px;
         height: 8px;
      }
   }
}

@media (--bp-sm-laptop){
   .slideshow-page{
      & .headingBox{
         padding: 3rem 3rem 0;
      }

      & .imageBox{

         & >div:nth-of-type(1){
            width: 13rem;
         }
      }
   }
}

@media (--bp-tablet){
   .slideshow-page{
      display: none; 
   }
}

.sign-up-page{
   background-image: linear-gradient(#384b62, #212e40);
   padding: 8rem 6rem 4rem;

   & .sign-up-header{
      margin-bottom: 4rem;
   }

   & .input-box{
      background-color: transparent;
      background: linear-gradient(rgba(255, 255, 255, 0.661), rgba(255, 255, 255, 0.669) ) center bottom 5px /calc(100% - 10px) 2px no-repeat;
      border: 2px solid whitesmoke;
      margin-bottom: 2rem;
      width: 80%;
      border: 0;
      padding: 10px;
      outline: none;
   }

   & .terms-box{
      margin: 2rem auto;
   }

   & .terms-checkbox{
      transform: scale(1.5);
      accent-color: #6cdfca;
      margin-right: 10px;
      border: none;
   }

   & .terms-link{
      text-decoration: underline solid #6cdfca 3px;
   }

   & .terms-link:hover{
      color: #6cdfca
   }
   
   & .sign-up-button{
      background-color: #6cdfca;
      color: rgb(255, 255, 255);
      border-radius:  50px;
      padding: 0.6rem 2.75rem;
      margin: 3rem 0;     
   }
   & .sign-up-button:hover{
      background-color: #84deceeb;
   }
   & .sign-up-button:active{
      background-color: #abf2e5;
   }
}

@media (--bp-sm-laptop){
   .sign-up-page{
      padding: 8rem 4.5rem 3rem;
   
      & .sign-up-header{
         margin-bottom: 2rem;
      }
   
      & .input-box{
         width: 95%;
      }
   
      & .terms-box{
         margin: 0 auto;
      }
   }   
}

@media (--bp-tablet){
   .main-page{
      display: block;
   }

   .sign-up-page{
      padding: 8rem 6rem 3rem;
      
      & .logoBox{
         display: block;
         padding: 2rem 0;
         & >div:nth-of-type(1){
            width: 3rem;
         }
      }

      & .sign-up-header{
         margin-bottom: 3rem;
      }
   
      & .input-box{
         width: 100%;
      }
   
      & .terms-box{
         margin: 0 auto;
      }
   }
}

@media (--bp-mobile){
   .sign-up-page{
      padding: 4rem;
   }
}

@media (--bp-md-mobile){
   .sign-up-page{
      padding: 3rem;

      & .logoBox{

         & >div:nth-of-type(1){
            width: 2.5rem;
         }
      }
   }
}
